h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 220501121- 02 - Determinar estrategias de ciberseguridad en la protección de datos con base en protocolos.  

            li
                span 220501121- 04 - Producir contenidos digitales de acuerdo con normativa y requerimientos del proyecto.