.container
    .header-ecored
        h1 1. Ciberseguridad
    .jumbotron.bg-white
        
        img.img-a(src="assets/images/pages/tema_1/img_1.png").img-fluid
        p.mt-5 La seguridad en cualquier proceso es fundamental, ya que todas las empresas protegen sus recursos, su información y su patrimonio; porque todo lo anterior es el resultado de un gran esfuerzo y ello tiene un gran valor.
        p Hoy, en esta era de gran información, es importante promover la seguridad física y también la seguridad en la red, no solo para empresas sino también para personas del común.  

        .sub-ecored.mt-5#11
            h2 1.1 Triada de la seguridad de la información 

        p.mb-5 Hay 3 pilares dentro de la seguridad de la información que son fundamentales entender en ciberseguridad y la triada de estos pilares está compuesta por: confidencialidad, disponibilidad e integridad.

        img.img-a(src="assets/images/pages/tema_1/img_2.png").img-fluid 

        .row.justify-content-center.mt-5
            .col-10
       
                .card-media.color-1
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_3.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Confidencialidad]

                        p.mt-5
                            span 
                                | Hay información que debe compartirse exclusivamente con algunas personas o usuarios. 

                        p.mt-5
                            span 
                                | ¿Qué pasaría si una persona recibiera una llamada de un vendedor de seguros, donde le informaran que en el banco le dieron los datos de su dirección, teléfono y cuenta bancaria?, claramente se ha violado la confidencialidad de su información. De la misma manera si un estudiante puede ingresar al sistema de su profesor y cambiar las notas, hay un problema de seguridad, específicamente frente a la confidencialidad de la información.


            .col-10
       
                .card-media.color-1
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_4.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Disponibilidad]

                        p.mt-5
                            span 
                                | La información debe estar disponible para quien esté autorizado y quien la necesite en el momento requerido. 

                        p.mt-5
                            span 
                                | Un ejemplo muy sencillo puede ser que alguien necesite promocionar un evento por redes sociales y posterior a diseñar y realizar la publicidad, ya sea a través de un video, un banner o un audio, la sube a su página de Facebook, pero al publicarla lo hace en modo privado. En este caso solo la podría ver el administrador de la página o si la sube con una configuración de privacidad no permitiría compartirla o comentarla. Esto último afecta a la visibilidad de la publicación y el tráfico de datos que puede generar la misma.

                        p.mt-5
                            span
                                | Lo mismo sucede con un archivo dentro de un Drive, ya que este puede configurarse como privado para quien lo ha subido o para personas de una organización que inicien sesión con correos específicos o con quienes tengan el enlace.


            .col-10
       
                .card-media.color-1
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_5.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Integridad]

                        p.mt-5
                            span 
                                | La información debe ser confiable, con datos verídicos y sin modificación de la intención original.  

                        p.mt-5
                            span 
                                | Por ejemplo, si se tiene una página de Facebook donde se venden productos como ropa, comida, fragancias, etc. y debido a una contraseña o procedimiento inseguro, como puede ser acceder a la página en un lugar público sin cerrar sesión, una persona ajena al negocio cambia los precios de los productos y causa un problema al emprendimiento.
        

        .sub-ecored.mt-5#12
            h2 1.2 Gestión de contraseñas 

        p.mb-5 Tener una contraseña segura no es un privilegio, sino una necesidad y una responsabilidad.

        p ¿Qué pasaría si debido a una contraseña insegura una persona sin escrúpulos escribiera tweets que dañaran la buena imagen de un negocio o usuario?, sin duda alguna, es una situación poco deseada y por tal motivo es importante comprender los aspectos básicos de una contraseña segura.

        img.img-a(src="assets/images/pages/tema_1/img_6.png").img-fluid

        .container

        .header-arrow
            p.text-brand-color-light.text-center Antes de ver las recomendaciones, es importante conocer ejemplos de lo que “no es seguro” en ellas alInfografías de la OPS.


        .row.justify-content-center.align-items-center.mt-5 

            .col-12.col-md-4
                .row.justify-content-center.align-items-center.mt-5
                    .col-auto 
                        img.img-a(src="assets/images/pages/tema_1/img_7.png").img-fluid  
                    .col
                        p.card-text.py-3.px-3 Pass: Contraseña 

            .col-12.col-md-4
                .row.justify-content-center.align-items-center.mt-5
                    .col-auto
                        img.img-a(src="assets/images/pages/tema_1/img_7.png").img-fluid 
                    .col    
                        p.card-text.py-3.px-3 Pass: 123456 
            

            .col-12.col-md-4
                .row.justify-content-center.align-items-center.mt-5
                    .col-auto
                        img.img-a(src="assets/images/pages/tema_1/img_7.png").img-fluid 
                    .col 
                        p.card-text.py-3.px-3 Pass: Qwerty 

        .row.justify-content-center.align-items-center.mt-5 

            .col-12.col-md-4
                .row.justify-content-center.align-items-center.mt-5
                    .col-auto 
                        img.img-a(src="assets/images/pages/tema_1/img_7.png").img-fluid  
                    .col
                        p.card-text.py-3.px-3 Pass: abc123 

            .col-12.col-md-4
                .row.justify-content-center.align-items-center.mt-5
                    .col-auto
                        img.img-a(src="assets/images/pages/tema_1/img_7.png").img-fluid 
                    .col    
                        p.card-text.py-3.px-3 Pass: dejameentrar 
            

            .col-12.col-md-4
                .row.justify-content-center.align-items-center.mt-5
                    .col-auto
                        img.img-a(src="assets/images/pages/tema_1/img_7.png").img-fluid 
                    .col 
                        p.card-text.py-3.px-3 Pass: mono


        .row.justify-content-center.align-items-center.mt-5 

            .col-12.col-md-4
                .row.justify-content-center.align-items-center.mt-5
                    .col-auto 
                        img.img-a(src="assets/images/pages/tema_1/img_7.png").img-fluid  
                    .col
                        p.card-text.py-3.px-3 Pass: myspace1 

            .col-12.col-md-4
                .row.justify-content-center.align-items-center.mt-5
                    .col-auto
                        img.img-a(src="assets/images/pages/tema_1/img_7.png").img-fluid 
                    .col    
                        p.card-text.py-3.px-3 Pass: contraseña1 
            

            .col-12.col-md-4
                .row.justify-content-center.align-items-center.mt-5
                    .col-auto
                        img.img-a(src="assets/images/pages/tema_1/img_7.png").img-fluid 
                    .col 
                        p.card-text.py-3.px-3 Pass: link182

        .row.justify-content-center.align-items-center.mt-5 

            .col-12.col-md-4
                .row.justify-content-center.align-items-center.mt-5
                    .col-auto 
                        img.img-a(src="assets/images/pages/tema_1/img_7.png").img-fluid  
                    .col
                        p.card-text.py-3.px-3 Pass: primer nombre del usuario


        p.mt-5 Según Quintero (2010) del Global Crossing, las anteriores son las 10 contraseñas más usadas y por ende, más inseguras y predecibles.

        .jumbotron.color-2.mt-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_8.png", style="max-width: 120px").img-fluid
                .col-10
                    p Si desea conocer de manera detallada y ampliar sus conocimientos en este tema, se sugiere consultar el documento #[strong “Recomendaciones de Uso de Contraseñas Seguras”], el cual se encuentra asociado a los materiales complementarios.

        .sub-ecored.mt-5#13
            h2 1.3 Huella digital

        img.img-a(src="assets/images/pages/tema_1/img_9.png").img-fluid

        p.mt-5 Cuando hablamos de huella digital en internet, nos referimos al rastro que dejamos al navegar e interactuar con la red. Con la evolución de las tecnologías de la información y la comunicación, prácticamente cualquier persona utiliza internet para llevar a cabo cualquier actividad, el rastro que dejamos en aquellos lugares por los que vamos pasando, es lo que se conoce como huella digital. (Rochina, 216).

        p Gracias a la huella digital se pueden detectar amenazas y responsables de las mismas.


        .sub-ecored.mt-5#14
            h2 1.4 Ciberacoso

        p.mt-5 El acoso a las personas ha sido un problema que se ha presentado durante años y los mecanismos de defensa existentes han procurado penalizar y defender a los afectados. Hoy en día, con el auge de internet y redes sociales, el acoso usa otros canales y se difunde de manera masiva y por eso se habla del ciberacoso, que en palabras sencillas es un acoso que usa la red para afectar a las personas.

        p Muchos usan perfiles falsos para realizar estas prácticas, pero olvidan que existe la huella digital por medio de la cual se pueden detectar estas interacciones maliciosas de las personas.

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_10.png").img-fluid

        .container

        .header-arrow
            p.text-brand-color-light.text-center Algunas prácticas comunes de acuerdo con una campaña creada por la Unicef son:

        ul.list-unstyled.mt-5
            li.md-5.px-5
                i.fa.fa-angle-right.fa-lg.mr-3
                | Difundir mentiras o publicar fotografías vergonzosas de alguien en las redes sociales.
            li.md-5.px-5 
                i.fa.fa-angle-right.fa-lg.mr-3
                | Enviar mensajes hirientes o amenazas a través de las plataformas de mensajería.
            li.md-5.px-5
                i.fa.fa-angle-right.fa-lg.mr-3
                | Hacerse pasar por otra persona y enviar mensajes agresivos en nombre de dicha persona.

        p El acoso cara a cara y el ciberacoso ocurren juntos a menudo. Pero el ciberacoso deja una huella digital; es decir, un registro que puede servir de prueba para ayudar a detener el abuso.

        .col
            .card
                .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/a7zm875VgDQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .col
            .card
                .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/Euo97eKXdtI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .sub-ecored.mt-5#15
            h2 1.5 Compras por internet

        p Las compras por internet son una opción muy válida para las personas, especialmente en condiciones como las del año 2020 por los efectos de la pandemia.

        p Por tal motivo, es importante definir precisamente que es el comercio electrónico: es el intercambio que se realiza no solo mediante páginas de la empresa o portales de mercadeo, sino por mensajes de datos, por redes sociales y hasta neveras inteligentes que hacen sus pedidos.
       
        .clearfix.col
            img.mt-5.float-right(src="assets/images/pages/tema_1/img_11.png", style='margin-right:-12px').img-fluid

        .container

        .header-arrow
            p.text-brand-color-light.text-center Algunas de las formas más comunes para pagar productos o servicios comprados por internet son las siguientes:

        ul.list-unstyled.mt-5
            li.md-5.px-5
                i.fa.fa-angle-right.fa-lg.mr-3
                | Tarjeta de crédito.
            li.md-5.px-5 
                i.fa.fa-angle-right.fa-lg.mr-3
                | Pagos en línea.
            li.md-5.px-5
                i.fa.fa-angle-right.fa-lg.mr-3
                | Tarjetas prepago.
            li.md-5.px-5
                i.fa.fa-angle-right.fa-lg.mr-3
                | Sucursales físicas.

        p Para las tarjetas de crédito es indispensable tener a la mano el número de la tarjeta, el Código Valor de Verificación (CCV2) y la fecha de vencimiento. Las tarjetas de crédito generan un interés dependiendo del intermediario financiero, del número de cuotas a las que se difiere la compra y de otros cargos de administración como la cuota de manejo.

        p #[strong En el caso de los pagos en línea hay tres que son muy usados:]

        .row.justify-content-center.align-items-center.mt-5 

            .col-12.col-md-3
                .row.justify-content-center.align-items-center.mt-5
                    .col-auto 
                        img.img-a(src="assets/images/pages/tema_1/img_12.png").img-fluid  

            .col-12.col-md-3
                .row.justify-content-center.align-items-center.mt-5
                    .col-auto 
                        img.img-a(src="assets/images/pages/tema_1/img_13.png").img-fluid

            .col-12.col-md-3
                .row.justify-content-center.align-items-center.mt-5
                    .col-auto 
                        img.img-a(src="assets/images/pages/tema_1/img_14.png").img-fluid


        p.mt-5 También existen tarjetas prepago que funcionan como tarjetas de crédito, pero que se cargan previamente con dinero del usuario de manera física en una sucursal o transfiriendo desde su cuenta a la tarjeta de crédito, evitando de esta manera cuota de manejo e intereses, pues el dinero proviene del usuario y no es un préstamo.

        p Igualmente, hay sucursales físicas como bancos o servicios recaudadores. En Colombia se reconocen: suRED o Efecty, entre otros.

        .container.mt-5

        .header-arrow
            p.text-brand-color-light.text-center Para el proceso de compras por internet, es importante tener en cuenta algunas recomendaciones:



        .row.justify-content-center.mt-5

            .col-12.col-md-12.my-5

                article.custom-item.d-flex.align-items-center.flex-column.flex-md-row
                    .col-auto
                        img(src="assets/images/pages/tema_1/img_15.png").img-fluid

                    .col
                        .card.color-1
                            .card-body
                                h3.card-title 1. Use el navegador o la app de la tienda
                                p Busque en su navegador la tienda o el portal donde va a comprar.
                                p Algunas tiendas o portales tienen aplicación móvil, así que también puede descargar la app desde su dispositivo móvil.


            .col-12.col-md-12.my-5

                article.custom-item.d-flex.align-items-center.flex-column.flex-md-row
                    .col-auto
                        img(src="assets/images/pages/tema_1/img_16.png").img-fluid

                    .col
                        .card.color-1
                            .card-body
                                h3.card-title 2. Regístrese en la página de compra
                                p Generalmente las tiendas piden que se registre la persona y diligencie los datos personales como teléfono, correo electrónico, dirección, entre otros.


            .col-12.col-md-12.my-5

                article.custom-item.d-flex.align-items-center.flex-column.flex-md-row
                    .col-auto
                        img(src="assets/images/pages/tema_1/img_17.png").img-fluid

                    .col
                        .card.color-1
                            .card-body
                                h3.card-title 3. Verifique las formas de pago
                                p Usualmente se encuentran:
                                p.mt-5 PSE.
                                p Tarjeta de crédito.
                                p Efectivo: un pin para que se pague en un banco o entidad.
                                p Efectivo contra entrega.
                                p Otros.

            .col-12.col-md-12.my-5

                    article.custom-item.d-flex.align-items-center.flex-column.flex-md-row
                        .col-auto
                            img(src="assets/images/pages/tema_1/img_18.png").img-fluid

                        .col
                            .card.color-1
                                .card-body
                                    h3.card-title 4. Busque el producto en el menú de la app o la página
                                    p Las páginas permiten búsquedas tomando en cuenta rangos de precios, marcas, etc.
                                    p Si está en un portal de mercado como MercadoLibre o Linio, busque la reputación del vendedor y las opiniones de los usuarios


            .col-12.col-md-12.my-5

                    article.custom-item.d-flex.align-items-center.flex-column.flex-md-row
                        .col-auto
                            img(src="assets/images/pages/tema_1/img_19.png").img-fluid

                        .col
                            .card.color-1
                                .card-body
                                    h3.card-title 5. Añada al carrito
                                    p Es muy común encontrar la palabra “añadir al carrito” para referirse a que se desea comprar ese producto, emulando el proceso físico cuando elija uno y luego lo coloca en el carrito de mercado. Puede añadir más de un producto al carrito.


            .col-12.col-md-12.my-5

                    article.custom-item.d-flex.align-items-center.flex-column.flex-md-row
                        .col-auto
                            img(src="assets/images/pages/tema_1/img_20.png").img-fluid

                        .col
                            .card.color-1
                                .card-body
                                    h3.card-title 6. Escoger la forma de pago
                                    p Dependiendo de la tienda o plataforma se pedirá escoger si paga con algún medio de pago anteriormente descrito. Se pedirán algunos datos y dependiendo de la opción es posible requerir algún código de seguridad que normalmente llega al correo o a los mensajes de texto del comprador.


            .col-12.col-md-12.my-5

                    article.custom-item.d-flex.align-items-center.flex-column.flex-md-row
                        .col-auto
                            img(src="assets/images/pages/tema_1/img_21.png").img-fluid

                        .col
                            .card.color-1
                                .card-body
                                    h3.card-title 7. Finalización y seguimiento
                                    p La tienda normalmente enviará un mensaje de texto o al correo electrónico para confirmar y también dará un número de guía para poder rastrear el envío, por medio del servicio de entrega que la tienda haya seleccionado. 


            .col-12.col-md-12.my-5

                    article.custom-item.d-flex.align-items-center.flex-column.flex-md-row
                        .col-auto
                            img(src="assets/images/pages/tema_1/img_22.png").img-fluid

                        .col
                            .card.color-1
                                .card-body
                                    h3.card-title 8. Reclamación o disputa
                                    p Las tiendas tienen su mecanismo propio de disputa y reclamación en caso de que el producto no sea el indicado o se tenga algún inconveniente. Sin embargo, se debe tener en cuenta que existe la Superintendencia de Industria y Comercio como ente regulador.
                                    


        .jumbotron.color-2.mt-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_8.png", style="max-width: 120px").img-fluid
                .col-10
                    p A través del documento adjunto #[strong “Protección del Consumidor en Colombia”], ubicado en los materiales complementarios podrá profundizar sobre los derechos del comprador en el comercio electrónico en el capítulo 5.


        .sub-ecored.mt-5#16
            h2 1.6 Tipos de redes

            img.img-a(src="assets/images/pages/tema_1/img_23.png").img-fluid

            p.mt-5 Las redes de internet son un común denominador en diversos sitios como son los hogares, las escuelas, las entidades públicas, los centros comerciales, los restaurantes, entre otros.
            p.mt-5 Las redes domésticas normalmente se configuran con una contraseña para su conexión y a diferencia de una red de un sitio público, las personas que se conectan a esta red son limitadas. 


        .jumbotron.card-color-3.mt-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_24.png").img-fluid
                .col
                    p Esto es importante considerarlo porque si una persona necesita realizar una transferencia bancaria, lo más recomendable es que lo haga en una red de confianza y no en una red #[i wifi] por ejemplo de un centro comercial, donde el riesgo es más alto.
                    p Es importante considerar que, si se tiene un negocio con una página de Facebook, se debe evitar usar una conexión #[i wifi] pública para ver la red social, pues se está expuesto a perder la contraseña y que alguien pueda enviar mensajes a los clientes o usar la información ubicada en esta red social para perjudicar a las personas o al negocio.

            
        .jumbotron.color-2.mt-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_8.png", style="max-width: 120px").img-fluid
                .col-10
                    p Para ampliar este tema, se sugiere leer el artículo de la BBC sobre los peligros en las redes públicas y el cual se denomina #[strong “El peligro de usar wifi en lugares públicos”]. Recuerde que lo puede encontrar en los materiales complementarios.

        p Adicionalmente, los procesos inseguros pueden acarrear problemas legales. Por ejemplo, si alguien usa la base de datos de sus clientes para su propio beneficio, generando inconvenientes legales debido a lo delicado de los datos personales e información de terceros.