.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td BBC NEWS. (2014). El peligro de usar wi-fi en lugares públicos. 
                    
                    td Página web
                    td 
                        a(href="https://www.bbc.com/mundo/noticias/2014/03/140310_wifi_internet_hotspots_rg", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Gobierno de Navarra. (s.f.). Compras por internet.

                    td Documento PDF 
                    td 
                        a(href="../media/documentos/Compras_internet.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar     

                tr
                    td Internet Society, 2016. Cuatro razones para cuidar nuestras huellas digitales. 

                    td Video YouTube
                    td 
                        a(href="https://youtu.be/cpH-zSRV6Ug", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Quintero, J. (2010). Recomendaciones de Uso de Contraseñas Seguras.
  
                    td Documento PDF
                    td 
                        a(href="../media/documentos/Recomendaciones_Uso_Contrasenas.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Rodero, E. (2018). Persuade con tu voz. Estrategias para sonar creíble.   
                    td Video charla TED
                    td 
                        a(href="https://www.youtube.com/watch?v=YlI-e4QJWG0", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Superintendencia de Industria y Comercio. (2017). Protección del Consumidor en Colombia.  
                    td Documento PDF
                    td 
                        a(href="../media/documentos/Proteccion_al_Consumidor_en_Colombia.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  


                tr
                td Tena, F. (2016). Elevator pitch: ¡comunica y defiende tu proyecto en 60 segundos!  
                td Documento PDF
                td 
                    a(href="../media/documentos/Elevator_pitch.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


                tr
                td Universidad de Lima. (s.f.). Técnicas de Comunicación: Storytelling & Storyboard.  
                td Documento PDF
                td 
                    a(href="../media/documentos/Tecnicas_comunicacion_storytelling_storybord.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar